body {
    margin: 0;
    font-family: "RingsideNarrow"
}

.meeting-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #DCE2EE;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid white;
}

.small-logo {
    width: 0px;
    margin-left: 80px;
}

.add-button {
    background-color: transparent;
    color: #08238C;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 75px;
    
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #08238C;
    width: 90px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.menu-button {
    background-color: #08238C;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.bottom-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-button {
    background-color: white;
    color: #08238C;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}
.mute-button { 
    background-color: red;
    color: #08238C;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.settings-icon {
    width: 40px;
    height: 40px;
}

.upload-icon {
    width: 100px;
    height: 100px;
}

.mute-icon {
    width: 40px;
    height: 40px;
}

.send-icon {
    width: 40px;
    height: 40px;
}

.voice-icon {
    width: 40px;
    height: 40px;
}

.mAIt-icon {
    width: 60px;
    height: 60px;
}

.mAIt-white-button {
    background-color: transparent;
    border-color: transparent;
}

.whiteboard {
    flex-grow: 1;
    margin-left: 60px;
    background-color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #82A4EB;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.circular-icons {
    display: flex;
    gap: 30px
}

.icon {
    background-color: white;
    border: 5px solid #08238C;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 999;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}


.chat-box {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 700px;
    margin-bottom: 100px;
}

.chat-box input {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #08238C;
    font-size: 16px;
}

.voice-button {
    width: 55px;
    height: 55px;
    background-color: white;
    border: 4px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 25px;
}

.send-button {
    width: 70px;
    height: 70px;
    background-color: white;
    border: 4px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}
